<footer class="" id="footer">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="footer-nav">
    <a class="navbar-brand" href="#">Best posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="posts" [routerLinkActive]="'active'">Посты <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" [routerLinkActive]="'active'">Пользователи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Чат</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>

